{% extends "base.html" %}
{% block content %}
<div class="col-sm-offset-3 col-sm-offset-3">
  {{ title }}
  <form method="GET" action"">
    <input type="textbox" name="q" placeholder="Search posts..." value="{{ request.GET.q }}"/>
    <input type="submit" value="Search" />
  </form>
</div>
      {% for obj in object_list %}
      <div class="row">
      <div class="col-sm-6">
        <div class="thumbnail rounded">
          {% if obj.image %}
            <img src="{{ obj.image.url }}" class="img-fluid img-thumbnail">
          {% endif %}
          <div class="caption">
            {% if obj.draft %}<h3>Draft</h3>{% endif %}
            {% if obj.publish > today %}<h3>Future Post</h3> {% endif %}
            <h3><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a>
              <small>{{ obj.publish }}</small>
            </h3>
            <p>Author: {{ obj.author.get_full_name }}</p>
            <p>{{ obj.content|linebreaks|truncatechars:120 }}</p>
            <p><a href="{{ obj.get_absolute_url }}" class="btn btn-outline-secondary"
                role="button">View</a>
          </div>
        </div>
      </div>
      </div>
      {% endfor %}
      <div class="pagination">
          <span class="step-links">
              {% if object_list.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}">previous</a>
              {% endif %}

              <span class="current">
                  Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
              </span>

              {% if object_list.has_next %}
                  <a href="?page={{ object_list.next_page_number }}">next</a>
                  <a href="?page={{ object_list.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
          </span>
      </div>
{% endblock content %}
