{% extends "base.html" %}

{% block title %}
  {{ instance.title }} | {{ block.super }}
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      {% if instance.image %}
        <img src="{{ instance.image.url }}" class="img-fluid">
      {% endif %}
      <h1>{{ instance.title }}</h1>

      <p>Author: {{ instance.author.get_full_name }}</p>
      <small>{% if instance.draft %}<span style='color:red;'>Draft</span>{% endif %}
        {{ instance.publish }}</small>
        {{ instance.content|linebreaks }}<br>

    </div>
  </div>

{% endblock %}
